In [76]:
import geopandas as gpd
import pandas as pd
import numpy as np
import os
import csv
from tqdm import tqdm

In [89]:
poi_path = r"/data-sat-img/postprocessed/mujiang/POI/全国POI数据/"
save_path = "/data-sat-img/postprocessed/mujiang/master-thesis/poi_summary/"
city_path = r"/data-sat-img/postprocessed/mujiang/POI/cities/"

In [28]:
geomaster_path = "/data-sat-img/postprocessed/mujiang/geobound_master/"
geomaster = pd.read_csv(geomaster_path + "lookup_table.csv")

geomaster_selected = geomaster[["MID_m","地级","省级"]]
geomaster_selected 
geomaster_selected.head()

   MID_m         地级      省级
0      1        三沙市     海南省
1      1        三沙市     海南省
2      2      锡林郭勒盟  内蒙古自治区
3      3  阿坝藏族羌族自治州     四川省
4      4       哈尔滨市    黑龙江省

In [53]:
def find_poi_file(MID_city,csv_file):
    year_summary_df = pd.read_csv(save_path + csv_file)
    poi_files = year_summary_df[year_summary_df["MID_m"] == MID_city]["path"].values[0]
    poi_files  = poi_files.split(";")
    return poi_files

## define city

In [27]:
city  = "深圳市"
MID_city = geomaster_selected.loc[geomaster_selected["地级"] == city]["MID_m"].values.min()
MID_city

71

## find file and read file

In [93]:
os.chdir(r"/data-sat-img/postprocessed/mujiang/POI/全国POI数据/")

### 2022

In [105]:
csv_file = "summary_2022.csv"
poi_file_list = find_poi_file(MID_city,csv_file)
poi_file_list

['2022POI/华南POI/广东省/深圳市POI数据.csv']

In [107]:
poi_df = pd.read_csv(poi_file_list[0])
poi_df["class1"] = poi_df["大类"]
poi_df["lon"] = poi_df["经度"]
poi_df["lat"] = poi_df["纬度"]
poi_df

,名称,大类,中类,经度,纬度,省份,城市,区域,class1,lon,lat
0,东冲社区沙岗生态公园,旅游景点,公园,114.581117,22.491843,广东省,深圳市,龙岗区,旅游景点,114.581117,22.491843
1,深圳东冲沙滩,旅游景点,其他,114.584100,22.489146,广东省,深圳市,龙岗区,旅游景点,114.584100,22.489146
2,东涌水库,交通设施,公交站,114.570436,22.497495,广东省,深圳市,龙岗区,交通设施,114.570436,22.497495
3,东涌浴场,交通设施,公交站,114.581888,22.489415,广东省,深圳市,龙岗区,交通设施,114.581888,22.489415
4,东涌家园,交通设施,公交站,114.579221,22.491534,广东省,深圳市,龙岗区,交通设施,114.579221,22.491534
...,...,...,...,...,...,...,...,...,...,...,...
717456,OOKIDOKI,休闲娱乐,酒吧,113.956238,22.542181,广东省,深圳市,南山区,休闲娱乐,113.956238,22.542181
717457,Prime Rib&Wine,购物消费,其他,113.956006,22.542433,广东省,深圳市,南山区,购物消费,113.956006,22.542433
717458,ZARA HOME,购物消费,其他,113.956163,22.542120,广东省,深圳市,南山区,购物消费,113.956163,22.542120
717459,PET'EM02POWER,购物消费,其他,113.956214,22.542253,广东省,深圳市,南山区,购物消费,113.956214,22.542253
717460,友宝售货机,购物消费,其他,113.965434,22.555183,广东省,深圳市,南山区,购物消费,113.965434,22.555183

In [108]:
file_path = os.path.join(city_path,f"{MID_city}_{city}",f"2022_{MID_city}_{city}.csv")

directory = os.path.dirname(file_path)
if not os.path.exists(directory):
    # Create the directory
    os.makedirs(directory)

poi_df.to_csv(file_path,encoding = "utf-8-sig",index = False)

### 2021

In [109]:
csv_file = "summary_2021.csv"
poi_file_list = find_poi_file(MID_city,csv_file)
poi_file_list

['2021POI/197-深圳市-678092.csv']

In [111]:
poi_df = pd.read_csv(poi_file_list[0])
poi_df.head(2)

,序号,状态,查询时间,城市,关键字,方式,PoiID,名称,类别,经纬度,地址,距离中心(仅圆形范围),固话,手机,电话(原值),轮廓坐标
0,1,complete,2021/5/12 20:17,深圳市,NaN,多边形,B02F37VMT9,茶溪谷,风景名胜;公园广场;公园|风景名胜;风景名胜;风景名胜,"[114.278168,22.631507]",大梅沙东部华侨城景区内,NaN,0755-25031868,NaN,0755-25031868;0755-88889888,NaN
1,2,complete,2021/5/12 20:17,深圳市,NaN,多边形,B02F37VMT7,茵特拉根华侨城酒店,住宿服务;宾馆酒店;五星级宾馆,"[114.27579,22.631594]",大梅沙东部华侨城,NaN,0755-88883333,NaN,0755-88883333;4008601388,NaN

In [115]:
class_split_columns = poi_df["类别"].str.split(';', expand=True)
poi_df["class1"] = class_split_columns[0]

In [120]:
poi_df['lon'] = poi_df['经纬度'].apply(lambda x: x[1:-1].split(",")[0])
poi_df['lat'] = poi_df['经纬度'].apply(lambda x: x[1:-1].split(",")[1])

In [121]:
poi_df.head(2)

,序号,状态,查询时间,城市,关键字,方式,PoiID,名称,类别,经纬度,地址,距离中心(仅圆形范围),固话,手机,电话(原值),轮廓坐标,class1,lon,lat
0,1,complete,2021/5/12 20:17,深圳市,NaN,多边形,B02F37VMT9,茶溪谷,风景名胜;公园广场;公园|风景名胜;风景名胜;风景名胜,"[114.278168,22.631507]",大梅沙东部华侨城景区内,NaN,0755-25031868,NaN,0755-25031868;0755-88889888,NaN,风景名胜,114.278168,22.631507
1,2,complete,2021/5/12 20:17,深圳市,NaN,多边形,B02F37VMT7,茵特拉根华侨城酒店,住宿服务;宾馆酒店;五星级宾馆,"[114.27579,22.631594]",大梅沙东部华侨城,NaN,0755-88883333,NaN,0755-88883333;4008601388,NaN,住宿服务,114.27579,22.631594

In [112]:
#poi_df[poi_df["class1"] == "室内设施"]

In [113]:
#poi_df[poi_df["class1"] == "事件活动"]

In [114]:
#poi_df[poi_df["class1"] == "地名地址信息"]

In [122]:
file_path = os.path.join(city_path,f"{MID_city}_{city}",f"2021_{MID_city}_{city}.csv")

directory = os.path.dirname(file_path)
if not os.path.exists(directory):
    # Create the directory
    os.makedirs(directory)

poi_df.to_csv(file_path,encoding = "utf-8-sig",index = False)

### 2020

In [124]:
csv_file = "summary_2020.csv"
poi_file_list = find_poi_file(MID_city,csv_file)
poi_file_list

['2020POI/深圳市/深圳市_购物服务.csv',
 '2020POI/深圳市/深圳市_公共设施.csv',
 '2020POI/深圳市/深圳市_医疗保健服务.csv',
 '2020POI/深圳市/深圳市_汽车服务.csv',
 '2020POI/深圳市/深圳市_住宿服务.csv',
 '2020POI/深圳市/深圳市_地名地址信息.csv',
 '2020POI/深圳市/深圳市_汽车销售.csv',
 '2020POI/深圳市/深圳市_风景名胜.csv',
 '2020POI/深圳市/深圳市_体育休闲服务.csv',
 '2020POI/深圳市/深圳市_室内设施.csv',
 '2020POI/深圳市/深圳市_商务住宅.csv',
 '2020POI/深圳市/深圳市_餐饮服务.csv',
 '2020POI/深圳市/深圳市_政府机构及社会团体.csv',
 '2020POI/深圳市/深圳市_生活服务.csv',
 '2020POI/深圳市/深圳市_摩托车服务.csv',
 '2020POI/深圳市/深圳市_交通设施服务.csv',
 '2020POI/深圳市/深圳市_事件活动.csv',
 '2020POI/深圳市/深圳市_汽车维修.csv',
 '2020POI/深圳市/深圳市_科教文化服务.csv',
 '2020POI/深圳市/深圳市_通行设施.csv',
 '2020POI/深圳市/深圳市_道路附属设施.csv',
 '2020POI/深圳市/深圳市_公司企业.csv',
 '2020POI/深圳市/深圳市_金融保险服务.csv',
 '']

In [125]:
poi_df = pd.read_csv("2020POI/深圳市/深圳市_事件活动.csv")
poi_df.head(2)

,id,tag,name,dtype,typecode,address,tel,pcode,pname,citycode,...,adname,business_area,marlon,marlat,wgs84lon,wgs84lat,timestamp,大类,中类,小类
0,B0FFIKITQ7,NaN,2017深圳城市定向赛,事件活动;事件活动;事件活动,220000,深圳皇冠体育中心,[],NaN,广东省,NaN,...,福田区,NaN,114.020718,22.532817,114.015673,22.535623,2.020111e+13,事件活动,事件活动,事件活动
1,B0FFIJ2VN8,NaN,授业与同修系列展,事件活动;事件活动;事件活动,220000,深圳OCT创意园艺术方位,[],NaN,广东省,NaN,...,南山区,NaN,113.993434,22.537344,113.988456,22.540232,2.020111e+13,事件活动,事件活动,事件活动

In [126]:
poi_df_all = poi_df.copy(deep=False)
poi_df_all.drop(poi_df_all.index, inplace=True)
poi_df_all

Empty DataFrame
Columns: [id, tag, name, dtype, typecode, address, tel, pcode, pname, citycode, cityname, adcode, adname, business_area, marlon, marlat, wgs84lon, wgs84lat, timestamp, 大类, 中类, 小类]
Index: []

[0 rows x 22 columns]

In [132]:
for poi_file in poi_file_list:
    if poi_file.endswith("csv"):
        poi_df = pd.read_csv(poi_file)
        print(poi_df.shape[0],poi_file)
        
        poi_df_all = pd.concat([poi_df_all, poi_df])

206762 2020POI/深圳市/深圳市_购物服务.csv
4404 2020POI/深圳市/深圳市_公共设施.csv
18506 2020POI/深圳市/深圳市_医疗保健服务.csv
11744 2020POI/深圳市/深圳市_汽车服务.csv
11508 2020POI/深圳市/深圳市_住宿服务.csv
106339 2020POI/深圳市/深圳市_地名地址信息.csv
2064 2020POI/深圳市/深圳市_汽车销售.csv
2885 2020POI/深圳市/深圳市_风景名胜.csv
15815 2020POI/深圳市/深圳市_体育休闲服务.csv
9779 2020POI/深圳市/深圳市_室内设施.csv
29302 2020POI/深圳市/深圳市_商务住宅.csv
99718 2020POI/深圳市/深圳市_餐饮服务.csv
13686 2020POI/深圳市/深圳市_政府机构及社会团体.csv
102159 2020POI/深圳市/深圳市_生活服务.csv
229 2020POI/深圳市/深圳市_摩托车服务.csv
37267 2020POI/深圳市/深圳市_交通设施服务.csv
5 2020POI/深圳市/深圳市_事件活动.csv
4071 2020POI/深圳市/深圳市_汽车维修.csv
23046 2020POI/深圳市/深圳市_科教文化服务.csv
32974 2020POI/深圳市/深圳市_通行设施.csv
603 2020POI/深圳市/深圳市_道路附属设施.csv
141075 2020POI/深圳市/深圳市_公司企业.csv
13129 2020POI/深圳市/深圳市_金融保险服务.csv

In [134]:
poi_df_all["class1"] = poi_df_all["大类"]
poi_df_all["lon"] = poi_df_all["wgs84lon"]
poi_df_all["lat"] = poi_df_all["wgs84lat"]
poi_df_all

,id,tag,name,dtype,typecode,address,tel,pcode,pname,citycode,...,marlat,wgs84lon,wgs84lat,timestamp,大类,中类,小类,class1,lon,lat
0,B0FFHNZNRE,NaN,七巧国儿童成长陪伴中心(碧海店),购物服务;商场;购物中心,60101.0,西乡兴业路3004号碧海城购物中心3层,0755-33696111,NaN,广东省,NaN,...,22.569053,113.851692,22.572065,2.020111e+13,购物服务,商场,购物中心,购物服务,113.851692,22.572065
1,B0FFI2L0Y9,NaN,花果鲜(御龙湾店),购物服务;购物相关场所;购物相关场所,60000.0,金海路御龙湾商业街B112商铺,18026921539,NaN,广东省,NaN,...,22.573970,113.848391,22.576976,2.020111e+13,购物服务,购物相关场所,购物相关场所,购物服务,113.848391,22.576976
2,B0FFFA23CP,NaN,蓝蓝生活馆(共乐路),购物服务;购物相关场所;购物相关场所,60000.0,金海路27-15号,[],NaN,广东省,NaN,...,22.573856,113.850960,22.576866,2.020111e+13,购物服务,购物相关场所,购物相关场所,购物服务,113.850960,22.576866
3,B0FFG8EO94,NaN,医院小卖部,购物服务;购物相关场所;购物相关场所,60000.0,银田路20号,[],NaN,广东省,NaN,...,22.576256,113.848080,22.579261,2.020111e+13,购物服务,购物相关场所,购物相关场所,购物服务,113.848080,22.579261
4,B0FFGHDD0M,NaN,劳斯莱斯中心,购物服务;购物相关场所;购物相关场所,60000.0,西乡大道大铲湾港区金湾大道168-3号,[],NaN,广东省,NaN,...,22.560673,113.848673,22.563681,2.020111e+13,购物服务,购物相关场所,购物相关场所,购物服务,113.848673,22.563681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13124,B02F37TUV2,NaN,平安银行24小时自助银行(滨河大道辅道),金融保险服务;自动提款机;平安银行ATM,160314.0,滨河大道5022号联合广场,[],NaN,广东省,NaN,...,22.529631,114.064027,22.532332,2.020111e+13,金融保险服务,自动提款机,平安银行ATM,金融保险服务,114.064027,22.532332
13125,B02F37SZQK,NaN,中国银行24小时自助银行(福建大厦支行),金融保险服务;自动提款机;中国银行ATM,160301.0,彩田路2048-1福建大厦A座,[],NaN,广东省,NaN,...,22.533427,114.063787,22.536128,2.020111e+13,金融保险服务,自动提款机,中国银行ATM,金融保险服务,114.063787,22.536128
13126,B0FFFGLXRL,NaN,蓝桥财务,金融保险服务;财务公司;财务公司|生活服务;生活服务场所;生活服务场所,NaN,和平路337,13713813796,NaN,广东省,NaN,...,22.649386,114.014839,22.652180,2.020111e+13,金融保险服务,财务公司,财务公司|生活服务,金融保险服务,114.014839,22.652180
13127,B0FFGJ2XPS,NaN,三弧线财务,金融保险服务;财务公司;财务公司|生活服务;生活服务场所;生活服务场所,NaN,和平路376,[],NaN,广东省,NaN,...,22.649453,114.014063,22.652249,2.020111e+13,金融保险服务,财务公司,财务公司|生活服务,金融保险服务,114.014063,22.652249
13128,B0FFGZW7LY,NaN,平安银行时代金融个贷中心,金融保险服务;金融保险服务机构;金融保险机构|生活服务;生活服务场所;生活服务场所,NaN,深南大道4001号时代金融中心2层,0755-32800080,NaN,广东省,NaN,...,22.537967,114.050300,22.540689,2.020111e+13,金融保险服务,金融保险服务机构,金融保险机构|生活服务,金融保险服务,114.050300,22.540689

In [135]:
file_path = os.path.join(city_path,f"{MID_city}_{city}",f"2020_{MID_city}_{city}.csv")

directory = os.path.dirname(file_path)
if not os.path.exists(directory):
    # Create the directory
    os.makedirs(directory)

poi_df_all.to_csv(file_path,encoding = "utf-8-sig",index = False)

### 2019

In [138]:
csv_file = "summary_2019-V2.csv"
poi_file_list = find_poi_file(MID_city,csv_file)
poi_file_list

['2019POI-V2/300000/d_320300.csv', '2019POI-V2/400000/d_440300.csv']

In [145]:
poi_df_sub = pd.read_csv(poi_file_list[0],encoding='utf-8', header=None)
city_split_columns = poi_df_sub[5].str.split(';', expand=True)
poi_df_sub[city_split_columns[0] == "深圳市"]

#poi_df_sub.head(5)
#poi_df_sub.loc[poi_df_sub[]]

,0,1,2,3,4,5,6,7
434197,434198,深圳志德建设有限公司睢宁八里商业城工程项目部,324省道南50米,33.903182,117.986409,深圳市;睢宁县,公司企业;公司企业,

In [146]:
poi_df = pd.read_csv(poi_file_list[1],encoding='GB2312', header=None)
poi_df

,0,1,2,3,4,5,6,7
0,1,金龟露营小镇,金龟社区金龟露营小镇同石村,22.657414,114.393950,深圳市;坪山区,休闲娱乐;其它娱乐休闲,0755-89552296
1,2,金龟露营小镇[公交站],B883,22.655344,114.396421,深圳市;坪山区,基础设施;公交车站,
2,3,金龟创客实践基地,金龟露营小镇,22.658333,114.394000,深圳市;坪山区,休闲娱乐;户外活动,0755-83692602
3,4,深圳时光静好民宿,坪山街道金龟社区同石村17号金龟露营小镇,22.657764,114.393940,深圳市;坪山区,酒店宾馆;经济型酒店,13266783783; 18123832318
4,5,这里生活,坪山新区金龟露营小镇同石村19号,22.656234,114.392440,深圳市;坪山区,酒店宾馆;酒店宾馆,13825462723
...,...,...,...,...,...,...,...,...
1346508,1346509,睿库文化传播有限公司,科技南路55号,22.539025,113.944126,深圳市;南山区,公司企业;公司企业,
1346509,1346510,厂区威富集团,龙城南路55号附近,22.711467,114.249289,深圳市;龙岗区,公司企业;公司企业,
1346510,1346511,益美佳便利店,奋进路55号,22.648352,114.043202,深圳市;龙华区,购物;便利店,13798564242
1346511,1346512,前进广场-销售处,松岗大道55号附近,22.769903,113.854754,深圳市;宝安区,公司企业;公司企业,
1346512,1346513,榕树车行,将富路55号,22.764739,113.903134,深圳市;宝安区,购物;自行车专卖,0755-33137996

In [149]:
class_split_columns = poi_df[6].str.split(';', expand=True)
poi_df["class1"] = class_split_columns[0]
poi_df["lat"] = poi_df[3]
poi_df["lon"] = poi_df[4]
poi_df.head()

,0,1,2,3,4,5,6,7,class1,lat,lon
0,1,金龟露营小镇,金龟社区金龟露营小镇同石村,22.657414,114.393950,深圳市;坪山区,休闲娱乐;其它娱乐休闲,0755-89552296,休闲娱乐,22.657414,114.393950
1,2,金龟露营小镇[公交站],B883,22.655344,114.396421,深圳市;坪山区,基础设施;公交车站,,基础设施,22.655344,114.396421
2,3,金龟创客实践基地,金龟露营小镇,22.658333,114.394000,深圳市;坪山区,休闲娱乐;户外活动,0755-83692602,休闲娱乐,22.658333,114.394000
3,4,深圳时光静好民宿,坪山街道金龟社区同石村17号金龟露营小镇,22.657764,114.393940,深圳市;坪山区,酒店宾馆;经济型酒店,13266783783; 18123832318,酒店宾馆,22.657764,114.393940
4,5,这里生活,坪山新区金龟露营小镇同石村19号,22.656234,114.392440,深圳市;坪山区,酒店宾馆;酒店宾馆,13825462723,酒店宾馆,22.656234,114.392440

In [143]:
#poi_df[poi_df["class1"] == "基础设施"]

In [150]:
file_path = os.path.join(city_path,f"{MID_city}_{city}",f"2019_{MID_city}_{city}.csv")

directory = os.path.dirname(file_path)
if not os.path.exists(directory):
    # Create the directory
    os.makedirs(directory)

poi_df.to_csv(file_path,encoding = "utf-8-sig",index = False)

### 2018

In [73]:
csv_file = "summary_2018.csv"
poi_file_list = find_poi_file(MID_city,csv_file)

In [80]:
poi_df = pd.read_csv(poi_file_list[0], encoding='GB2312', encoding_errors='ignore', on_bad_lines='skip')
poi_df.head()

,address,adname,page_publish_time,adcode,pname,cityname,name,location,_id,type,Unnamed: 10
0,万源市,万源市,2017-06-19 16:19:35,511781,四川省,达州市,营盘,108.354324，31.804957,m#20170619#e6e880990f667fb56f640a93fa939382,地名地址信息;普通地名;村庄级地名,NaN
1,平桂区,平桂区,2017-06-19 13:39:07,451103,广西壮族自治区,贺州市,白},111.261630，23.980339,7#20170619#773319260bad90aa4d61536a9acd70ed,地名地址信息;普通地名;村庄级地名,NaN
2,中山大道中138号汇勤楼4楼,天河区,2017-06-19 10:11:31,440106,广东省,广州市,广州书韵文化传播有限公司,113.400530，23.124350,w#20170619#17d637d18e214d0970088b9e996b14ae,科教文化服务;科教文化场所;科教文化场所,NaN
3,谷里街道振容路79号,江宁区,2017-06-18 18:49:56,320115,江苏省,南京市,世纪华联超市(谷里店),118.694965，31.867626,6#20170618#5f6aea29355515fec16f1c86a3b41540,购物服务;便民商店/便利店;便民商店/便利店,NaN
4,纯阳宫路3号附近,迎泽区,2017-06-18 13:31:10,140106,山西省,太原市,少儿艺术团操招生,112.572522，37.863343,1#20170618#68fe4683a42e54c5aff2edb99f1196c0,生活服务;生活服务场所;生活服务场所,NaN

In [83]:
city_df_all = poi_df.copy(deep=False)
city_df_all.drop(city_df_all.index, inplace=True)
city_df_all

Empty DataFrame
Columns: [address, adname, page_publish_time, adcode, pname, cityname, name, location, _id, type, Unnamed: 10]
Index: []

In [84]:
for file in tqdm(poi_file_list):
    try:    
        # Load the file
        poi_df = pd.read_csv(file, encoding='GB2312', encoding_errors='ignore', on_bad_lines='skip')
    
    except Exception as e:
        poi_df = pd.read_csv(file, encoding='GB2312', encoding_errors='ignore', on_bad_lines='skip',quoting=csv.QUOTE_NONE)
        
    city_df = poi_df.loc[poi_df['cityname'] == city]
    print(city_df.shape[0])
    
    city_df_all = pd.concat([city_df_all, city_df])

  1%|█▎                                                                                        | 1/67 [00:03<03:57,  3.60s/it]

9299

  3%|██▋                                                                                       | 2/67 [00:07<03:47,  3.50s/it]

3663

  4%|████                                                                                      | 3/67 [00:10<03:46,  3.55s/it]

4694

  6%|█████▎                                                                                    | 4/67 [00:13<03:23,  3.23s/it]

14657

  7%|██████▋                                                                                   | 5/67 [00:17<03:29,  3.38s/it]

18756

  9%|████████                                                                                  | 6/67 [00:20<03:28,  3.42s/it]

4061

 10%|█████████▍                                                                                | 7/67 [00:24<03:30,  3.50s/it]

13617

 12%|██████████▋                                                                               | 8/67 [00:27<03:30,  3.56s/it]

8891

 13%|████████████                                                                              | 9/67 [00:31<03:22,  3.49s/it]

12984

 15%|█████████████▎                                                                           | 10/67 [00:34<03:15,  3.44s/it]

20804

 16%|██████████████▌                                                                          | 11/67 [00:38<03:17,  3.52s/it]

12147

 18%|███████████████▉                                                                         | 12/67 [00:41<03:16,  3.58s/it]

13786

 19%|█████████████████▎                                                                       | 13/67 [00:45<03:16,  3.63s/it]

17460

 21%|██████████████████▌                                                                      | 14/67 [00:49<03:13,  3.65s/it]

11932

 22%|███████████████████▉                                                                     | 15/67 [00:53<03:12,  3.71s/it]

10240

 24%|█████████████████████▎                                                                   | 16/67 [00:56<03:04,  3.62s/it]

3585

 25%|██████████████████████▌                                                                  | 17/67 [01:00<02:59,  3.58s/it]

3551

 27%|███████████████████████▉                                                                 | 18/67 [01:03<02:58,  3.64s/it]

8379

 28%|█████████████████████████▏                                                               | 19/67 [01:07<02:55,  3.66s/it]

12695

 30%|██████████████████████████▌                                                              | 20/67 [01:07<02:04,  2.65s/it]

499

 31%|███████████████████████████▉                                                             | 21/67 [01:11<02:15,  2.95s/it]

18579

 33%|█████████████████████████████▏                                                           | 22/67 [01:15<02:26,  3.25s/it]

1634

 34%|██████████████████████████████▌                                                          | 23/67 [01:19<02:30,  3.41s/it]

15838

 36%|███████████████████████████████▉                                                         | 24/67 [01:23<02:33,  3.57s/it]

10788

 37%|█████████████████████████████████▏                                                       | 25/67 [01:27<02:33,  3.66s/it]

13130

 39%|██████████████████████████████████▌                                                      | 26/67 [01:30<02:28,  3.63s/it]

15664

 40%|███████████████████████████████████▊                                                     | 27/67 [01:34<02:26,  3.66s/it]

15048

 42%|█████████████████████████████████████▏                                                   | 28/67 [01:38<02:23,  3.68s/it]

18109

 43%|██████████████████████████████████████▌                                                  | 29/67 [01:42<02:21,  3.74s/it]

11868

 45%|███████████████████████████████████████▊                                                 | 30/67 [01:45<02:19,  3.78s/it]

11896

 46%|█████████████████████████████████████████▏                                               | 31/67 [01:49<02:16,  3.80s/it]

10364

 48%|██████████████████████████████████████████▌                                              | 32/67 [01:53<02:13,  3.80s/it]

16256

 49%|███████████████████████████████████████████▊                                             | 33/67 [02:00<02:37,  4.63s/it]

19960

 51%|█████████████████████████████████████████████▏                                           | 34/67 [02:03<02:24,  4.37s/it]

11849

 52%|██████████████████████████████████████████████▍                                          | 35/67 [02:07<02:13,  4.19s/it]

18270

 54%|███████████████████████████████████████████████▊                                         | 36/67 [02:11<02:07,  4.10s/it]

9727

 55%|█████████████████████████████████████████████████▏                                       | 37/67 [02:15<02:00,  4.03s/it]

8133

 57%|██████████████████████████████████████████████████▍                                      | 38/67 [02:19<01:55,  3.98s/it]

18773

 58%|███████████████████████████████████████████████████▊                                     | 39/67 [02:23<01:50,  3.93s/it]

13394

 60%|█████████████████████████████████████████████████████▏                                   | 40/67 [02:26<01:43,  3.85s/it]

8998

 61%|██████████████████████████████████████████████████████▍                                  | 41/67 [02:30<01:41,  3.90s/it]

17480

 63%|███████████████████████████████████████████████████████▊                                 | 42/67 [02:34<01:36,  3.87s/it]

17434

 64%|█████████████████████████████████████████████████████████                                | 43/67 [02:38<01:32,  3.85s/it]

7749

 66%|██████████████████████████████████████████████████████████▍                              | 44/67 [02:42<01:27,  3.79s/it]

1762

 67%|███████████████████████████████████████████████████████████▊                             | 45/67 [02:45<01:24,  3.82s/it]

15244

 69%|█████████████████████████████████████████████████████████████                            | 46/67 [02:49<01:20,  3.82s/it]

20379

 70%|██████████████████████████████████████████████████████████████▍                          | 47/67 [02:53<01:15,  3.78s/it]

14415

 72%|███████████████████████████████████████████████████████████████▊                         | 48/67 [02:57<01:12,  3.82s/it]

10507

 73%|█████████████████████████████████████████████████████████████████                        | 49/67 [03:01<01:09,  3.86s/it]

10384

 75%|██████████████████████████████████████████████████████████████████▍                      | 50/67 [03:04<01:04,  3.77s/it]

1145

 76%|███████████████████████████████████████████████████████████████████▋                     | 51/67 [03:08<01:01,  3.83s/it]

9273

 78%|█████████████████████████████████████████████████████████████████████                    | 52/67 [03:12<00:57,  3.86s/it]

15470

 79%|██████████████████████████████████████████████████████████████████████▍                  | 53/67 [03:16<00:54,  3.89s/it]

8391

 81%|███████████████████████████████████████████████████████████████████████▋                 | 54/67 [03:20<00:49,  3.82s/it]

14368

 82%|█████████████████████████████████████████████████████████████████████████                | 55/67 [03:23<00:44,  3.70s/it]

11164

 84%|██████████████████████████████████████████████████████████████████████████▍              | 56/67 [03:31<00:52,  4.77s/it]

13584

 85%|███████████████████████████████████████████████████████████████████████████▋             | 57/67 [03:37<00:52,  5.26s/it]

11653

 87%|█████████████████████████████████████████████████████████████████████████████            | 58/67 [03:39<00:39,  4.38s/it]

3539

 88%|██████████████████████████████████████████████████████████████████████████████▎          | 59/67 [03:43<00:33,  4.14s/it]

2009

 90%|███████████████████████████████████████████████████████████████████████████████▋         | 60/67 [03:47<00:28,  4.09s/it]

11179

 91%|█████████████████████████████████████████████████████████████████████████████████        | 61/67 [03:51<00:24,  4.05s/it]

19977

 93%|██████████████████████████████████████████████████████████████████████████████████▎      | 62/67 [03:55<00:20,  4.03s/it]

12566

 94%|███████████████████████████████████████████████████████████████████████████████████▋     | 63/67 [03:58<00:15,  3.90s/it]

22721

 96%|█████████████████████████████████████████████████████████████████████████████████████    | 64/67 [04:02<00:11,  3.91s/it]

14753

 97%|██████████████████████████████████████████████████████████████████████████████████████▎  | 65/67 [04:06<00:07,  3.85s/it]

23335

 99%|███████████████████████████████████████████████████████████████████████████████████████▋ | 66/67 [04:10<00:03,  3.88s/it]

15578

100%|█████████████████████████████████████████████████████████████████████████████████████████| 67/67 [04:14<00:00,  3.80s/it]

1513

In [152]:
city_df_all.head(2)

,address,adname,page_publish_time,adcode,pname,cityname,name,location,_id,type,Unnamed: 10
13,留仙大道2051号西丽人民医院内,南山区,2017-06-19 10:34:33,440305,广东省,深圳市,西丽人民医院住院部,113.948731，22.580096,o#20170619#73237df5870c31ead31d30b651e533d4,医疗保健服务;综合医院;综合医院,NaN
36,福田区,福田区,2017-06-19 10:41:13,440304,广东省,深圳市,十号路与椰林大道交叉口,114.044754，22.518161,u#20170619#5177ae6aff9e2bde7c24d46d739d885d,地名地址信息;交通地名;路口名,NaN

In [159]:
coord_split_columns

                 0          1
13      113.948731  22.580096
36      114.044754  22.518161
136     114.015490  22.672950
241     114.118025  22.594444
292     114.018934  22.667614
...            ...        ...
965896  114.349688  22.680483
965897  114.003805  22.650189
965898  114.350852  22.684493
992764  114.064707  22.656660
993252  114.043232  22.519645

[801550 rows x 2 columns]

In [160]:
class_split_columns = city_df_all["type"].str.split(';', expand=True)
city_df_all["class1"] = class_split_columns[0]

coord_split_columns =city_df_all["location"].str.split('，', expand=True)
city_df_all["lat"] = coord_split_columns[1]
city_df_all["lon"] = coord_split_columns[0]
city_df_all.head()

,address,adname,page_publish_time,adcode,pname,cityname,name,location,_id,type,Unnamed: 10,class1,lat,lon
13,留仙大道2051号西丽人民医院内,南山区,2017-06-19 10:34:33,440305,广东省,深圳市,西丽人民医院住院部,113.948731，22.580096,o#20170619#73237df5870c31ead31d30b651e533d4,医疗保健服务;综合医院;综合医院,NaN,医疗保健服务,22.580096,113.948731
36,福田区,福田区,2017-06-19 10:41:13,440304,广东省,深圳市,十号路与椰林大道交叉口,114.044754，22.518161,u#20170619#5177ae6aff9e2bde7c24d46d739d885d,地名地址信息;交通地名;路口名,NaN,地名地址信息,22.518161,114.044754
136,龙华办事处华联社区河背二区38号,龙华区,2017-06-19 10:35:09,440309,广东省,深圳市,河背2区38号,114.015490，22.672950,7#20170619#00b563b8def0f12158441d0c60180b8b,商务住宅;住宅区;住宅区,NaN,商务住宅,22.672950,114.015490
241,荣超路366荣超花园22栋A座,龙岗区,2017-06-19 10:49:51,440307,广东省,深圳市,荣超花园21栋停车场,114.118025，22.594444,m#20170619#f1c35045b764c9600f319ca21fb00831,交通设施服务;停车场;停车场相关,NaN,交通设施服务,22.594444,114.118025
292,大浪南路134号(三联路村委公交站直走30米),龙华区,2017-06-19 10:33:21,440309,广东省,深圳市,小蜜蜂蛋糕(大浪店),114.018934，22.667614,u#20170619#a6dce58e529c5e1d9612dd04435695d5,购物服务;专卖店;专营店,NaN,购物服务,22.667614,114.018934

In [88]:
city_df_all.to_csv((poi_path+"2018POI-city"+"/"+f"2018_{MID_city}_{city}.csv"),encoding = "utf-8-sig",index = False)

In [161]:
file_path = os.path.join(city_path,f"{MID_city}_{city}",f"2018_{MID_city}_{city}.csv")

directory = os.path.dirname(file_path)
if not os.path.exists(directory):
    # Create the directory
    os.makedirs(directory)

city_df_all.to_csv(file_path,encoding = "utf-8-sig",index = False)